html {
  background-color: rgb(196, 229, 240);
  font-family: 'Noto Sans', Sans-Serif
}
header {
  background-color: rgb(82, 216, 134);
  position: relative;
  text-align: center;
  color: black;
  padding: 2%; 
  border: 10px black;
  border-radius: 2px;
  box-shadow: 1px 2px 2px 2px gray;
}

.title {
  text-align: center;
  font-size: 2.5em;
}

.subtitle {
  text-align: center;
  font-size: 1.3em;
}

li{
  margin-top: 1%;
  list-style: none;
  height: 100%;
  width: 100%;
  display: block;
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
}
li a:hover {
  background-color: lightcyan;
  padding: 1%;
  border: 10px black;
  border-radius: 2px;
  box-shadow: 1px 2px 2px 2px gray;
}

