* { margin: 0, padding: 0 }
.logo-ull {
  width: 15%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #B1B6A6;
  /* bottom = footer height */
  padding: 25px;
}
header {
  margin: 0px;
  padding: auto;
  background-color: #363946;
  color: white;
  left: 0;
  right: 0;
}
.footer {
  background-color: #696773;
  color: white;
  text-align: center;
  padding: 0;
  margin: -1;
}
.content {
  flex: 1;
  text-align: center;
  height: 5%;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer.h1 {
  margin: 50%;
  align-self: center;
  display: inline-block;
  text-align: center;
}
.centerBlock {
  margin: auto;
  width: 15%;
}
p {
  font-size: 125%;
  text-align: center;
}

.title {
  padding-left: 42%;
  vertical-align: 50%;
  font-size: 200%;
  font-weight: 900;
  text-align: center;
}
.subtitle {
  padding-left: 45%;
  vertical-align: 50%;
  font-size: 75%;
  font-weight: bold;
  text-align: center;
}


